.scriptAddModal .modal {
	min-width: 55%;
	overflow-y: auto;
	max-height: 70%;
}

.argument-full-width {
	width: 100%;
}

.argument-disabled {
	border: none !important;

}

.scriptHeader {
	text-align: center;
}

.scriptHeader:hover {
	cursor: pointer;
}

.clickable:hover {
	cursor: pointer;
}

.yesNoPromptButtonContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 2rem;
}
