.addModal .modal {
	min-width: 55%;
	overflow-y: auto;
	max-height: 70%;
}

.argument-full-width {
	width: 100%;
}

.monospaced-content {
	font-family: monospace;
	height: 50vh;
}

.inputFieldWidth {
	width: 100%;
}

.okButtonMargin {
	margin-right: 0;
}

.buttonBarContainer {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	margin-top: 1rem;
	gap: 0.5rem;
}

.full-width-setting {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.full-width-setting .setting-item-control {
	width: 100%;
}

.argument-disabled {
	border: none !important;

}

.header-icon {
	width: 32px;
	height: 32px;
	margin-right: 8px;
}

.logHeader {
	display: flex;
	align-items: center;
	text-align: center;
	font-size: larger;
}

.modalHeader {
	text-align: center;
}

.scriptHeader:hover {
	cursor: pointer;
}

.clickable:hover {
	cursor: pointer;
}

.yesNoPromptButtonContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 2rem;
}

.scriptTableView {
	display: block;
}
